

html, body {
  overflow-x: hidden;
}

.divider-line {
  background: black;
  height: 4px;
  width: 90px;
}


.portfolio-item {
  position: relative;
  cursor: pointer;
  z-index:1000 ;
 
}

.portfolio-item img {
  width: 80%;
  border-radius: 10px;
}

.portfolio-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgba(26, 188, 156, 0.9); /* same green as your theme */
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 49px;
  
}

.portfolio-item:hover .portfolio-hover {
  opacity: 1;
}


.hover-icon {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}



